{% extends "base.html" %}
{% block header %}
<div class="container">
    {{ super() }}
    <h1 class="mb-0">{{ title }}</h1>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.email_address.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.email_address.errors %}
                        {{ form.email_address(class="form-control is-invalid", aria_describedby="emailAddressError", type="email", spellcheck="false", autocomplete="email") }}
                        {% for error in form.email_address.errors %}<div class="invalid-feedback" id="emailAddressError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.email_address(class="form-control is-valid", type="email", spellcheck="false", autocomplete="email") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.email_address(class="form-control", type="email", spellcheck="false", autocomplete="email") }}
                {% endif %}
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit"><i class="bi bi-unlock-fill"></i> Reset</button>
                <a class="btn btn-secondary" href="{{ url_for('auth.login') }}"><i class="bi bi-chevron-left"></i> Cancel</a> 
            </div>       
        </form>
    </div>
</div>
{% endblock %}