{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.new_password.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.new_password.errors %}
                        {{ form.new_password(class="form-control is-invalid", aria_describedby="passwordHelp") }}
                        {% for error in form.new_password.errors %}<div class="invalid-feedback">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.new_password(class="form-control is-valid", aria_describedby="passwordHelp") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.new_password(class="form-control", aria_describedby="passwordHelp") }}
                {% endif %}
                <small id="passwordHelp" class="form-text text-muted">{{ form.new_password.description }}</small>
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid", aria_describedby="passwordHelp") }}
                        {% for error in form.confirm_password.errors %}<div class="invalid-feedback">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.confirm_password(class="form-control is-valid", aria_describedby="passwordHelp") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.confirm_password(class="form-control", aria_describedby="passwordHelp") }}
                {% endif %}
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit"><i class="fas fa-key fa-lg fa-fw"></i> Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}