{% extends "base.html" %}
{% block header %}
<div class="container">
    {{ super() }}
    <h1 class="mb-0">{{ title }}</h1>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.email_address.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.email_address.errors %}
                        {{ form.email_address(class="form-control is-invalid", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailAddressHelp emailAddressError") }}
                        {% for error in form.email_address.errors %}<div class="invalid-feedback" id="emailAddressError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.email_address(class="form-control is-valid", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailAddressHelp") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.email_address(class="form-control", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailAddressHelp") }}
                {% endif %}
                <div id="emailAddressHelp" class="form-text">{{ form.email_address.description }}</div>
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid", aria_describedby="passwordHelp passwordError") }}
                        {% for error in form.password.errors %}<div class="invalid-feedback" id="passwordError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.password(class="form-control is-valid", aria_describedby="passwordHelp") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.password(class="form-control", aria_describedby="passwordHelp") }}
                {% endif %}
                <div id="passwordHelp" class="form-text">{{ form.password.description }}</div>
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid", aria_describedby="confirmPasswordError") }}
                        {% for error in form.confirm_password.errors %}<div class="invalid-feedback" id="confirmPasswordError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.confirm_password(class="form-control is-valid") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.timezone.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.timezone.errors %}
                        {{ form.timezone(class="form-select is-invalid", aria_describedby="timezoneError") }}
                        {% for error in form.timezone.errors %}<div class="invalid-feedback" id="timezoneError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.timezone(class="form-select is-valid") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.timezone(class="form-select") }}
                {% endif %}
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit"><i class="fas fa-user-plus fa-lg fa-fw"></i> Sign up</button>
                <a class="btn btn-secondary" href="{{ url_for('main.index') }}"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</a>
            </div> 
        </form>
    </div>
</div>
{% endblock %}