<div class="card text-bg-dark shadow mb-3">
    <div class="card-body">
        <h5 class="card-title"><i class="bi bi-calendar-week"></i> Weekly summary</h5>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Time</h6>
        <p class="card-text mb-2">{{ events | length }} time {% if events | length == 1%}entry{% else %}entries{% endif %}{% if weekly_string and weekly_decimal %}: {{ weekly_string }} ({{weekly_decimal}}){% endif %}</p>
        {% if current_user.schedule() > 0 %}
            <style nonce="{{csp_nonce()}}">
                .progress-bar {
                    width: {{progress}}%;
                }
                .progress {
                    height: 20px;
                }
            </style>
            <div class="progress">
                <div class="progress-bar progress-bar-striped {% if progress >= 100 %}bg-success{% endif %}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"><strong>{{ progress }}%</strong></div>
            </div>
            <p class="card-text">
                {% if current_user.schedule_decimal() > weekly_decimal %}
                <span class="text-danger"><i class="bi bi-chevron-down"></i> {{weekly_delta_string}} ({{weekly_delta_decimal}}) under target</span>
                {% elif current_user.schedule_decimal() < weekly_decimal %}
                <span class="text-success"><i class="bi bi-chevron-up"></i> {{weekly_delta_string}} ({{weekly_delta_decimal}}) over target</span>
                {% elif current_user.schedule_decimal() == weekly_decimal %}
                <span class="text-success"><i class="bi bi-check-lg"></i> on target</span>
                {% endif %}
            </p>
        {% endif %}
        {% if tag_totals %}
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Tags</h6>
            {% for tag in tag_totals %}
                <p class="card-text mb-2"><i class="bi bi-tag" aria-label="Tag"></i> {{tag.name}}: {{tag.total}} ({{tag.decimal}})</p>
            {% endfor %}
        {% endif %}
        {% if location_totals %}
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Locations</h6>
            {% for location in location_totals %}
                <p class="card-text mb-2"><i class="bi bi-building" aria-label="Location"></i> {{location.name}}: {{location.total}} ({{location.decimal}})</p>
            {% endfor %}
        {% endif %}
    </div>
</div>