{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.started_at.label }}
                {% if form.started_at.errors %}
                {{ form.started_at(class="form-control is-invalid") }}
                {% else %}
                {{ form.started_at(class="form-control") }}
                {% endif %}
                {% if form.started_at.description %}
                <small id="{{ form.started_at.id }}Help" class="form-text text-muted">{{ form.started_at.description }}</small>
                {% endif %}
                {% for error in form.started_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.ended_at.label }} <i>(optional)</i>
                {% if form.ended_at.errors %}
                {{ form.ended_at(class="form-control is-invalid") }}
                {% else %}
                {{ form.ended_at(class="form-control") }}
                {% endif %}
                {% if form.ended_at.description %}
                <small id="{{ form.ended_at.id }}Help" class="form-text text-muted">{{ form.ended_at.description }}</small>
                {% endif %}
                {% for error in form.ended_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.tag.label }}
                {% for subfield in form.tag %}
                <div class="form-check">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
                {% endfor %}
            </div>
            <button class="btn btn-block btn-lg btn-primary" type="submit"><i class="fas fa-plus fa-lg fa-fw"></i> Create</button>
            <a class="btn btn-block btn-secondary" href="{{ url_for('entry.entries') }}"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</a>
        </form>
    </div>
</div>
{% endblock %}