{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="form-group col-sm">
                    {{ form.started_at_date.label }}
                    {% if form.started_at_date.errors %}
                    {{ form.started_at_date(class="form-control is-invalid", type="date") }}
                    {% else %}
                    {{ form.started_at_date(class="form-control", type="date") }}
                    {% endif %}
                    {% if form.started_at_date.description %}
                    <small id="{{ form.started_at_date.id }}Help" class="form-text text-muted">{{ form.started_at_date.description }}</small>
                    {% endif %}
                    {% for error in form.started_at_date.errors %}
                    <div class="invalid-feedback">{{error}}</div>
                    {% endfor %}
                </div>
                <div class="form-group col-sm">
                    {{ form.started_at_time.label }}
                    {% if form.started_at_time.errors %}
                    {{ form.started_at_time(class="form-control is-invalid", type="time") }}
                    {% else %}
                    {{ form.started_at_time(class="form-control", type="time") }}
                    {% endif %}
                    {% if form.started_at_time.description %}
                    <small id="{{ form.started_at_time.id }}Help" class="form-text text-muted">{{ form.started_at_time.description }}</small>
                    {% endif %}
                    {% for error in form.started_at_time.errors %}
                    <div class="invalid-feedback">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm">
                    {{ form.ended_at_date.label }} <i>(optional)</i>
                    {% if form.ended_at_date.errors %}
                    {{ form.ended_at_date(class="form-control is-invalid", type="date") }}
                    {% else %}
                    {{ form.ended_at_date(class="form-control", type="date") }}
                    {% endif %}
                    {% if form.ended_at_date.description %}
                    <small id="{{ form.ended_at_date.id }}Help" class="form-text text-muted">{{ form.ended_at_date.description }}</small>
                    {% endif %}
                    {% for error in form.ended_at_date.errors %}
                    <div class="invalid-feedback">{{error}}</div>
                    {% endfor %}
                </div>
                <div class="form-group col-sm">
                    {{ form.ended_at_time.label }} <i>(optional)</i>
                    {% if form.ended_at_time.errors %}
                    {{ form.ended_at_time(class="form-control is-invalid", type="time") }}
                    {% else %}
                    {{ form.ended_at_time(class="form-control", type="time") }}
                    {% endif %}
                    {% if form.ended_at_time.description %}
                    <small id="{{ form.ended_at_time.id }}Help" class="form-text text-muted">{{ form.ended_at_time.description }}</small>
                    {% endif %}
                    {% for error in form.ended_at_time.errors %}
                    <div class="invalid-feedback">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form.tag.label }}
                {% for subfield in form.tag %}
                <div class="form-check">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
                {% endfor %}
            </div>
            <button class="btn btn-block btn-lg btn-primary" type="submit"><i class="fas fa-plus fa-lg fa-fw"></i> Create</button>
            <a class="btn btn-block btn-secondary" href="{{ url_for('entry.entries') }}"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</a>
        </form>
    </div>
</div>
{% endblock %}