{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="btn-group btn-block">
            <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('entry.auto') }}" role="button">
                <h1>{% if start %}Start now{% else %}Stop now{% endif %}</h1>
            </a>
            <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{ url_for('entry.manual') }}">Manual entry</a>
            </div>
        </div>
        <br><br>
    </div>
    <div class="col-md-8">
        {% if events.items %}<p class="text-muted">Page {{events.page}} of {{events.pages}}</p>{% endif %}
        {% for date in entries %}
            <div class="card shadow-sm">
                <h5 class="card-header">
                    {{date.date}}
                    {% if date.total_duration %}<br><small class="text-muted">{{date.total_duration}} ({{date.total_duration_decimal|round(2, 'floor')}})</small>{% endif %}
                </h5>
                <div class="list-group list-group-flush">
                {% for entry in date.entries %}
                    {% if entry.ended_at is none %}
                    <a href="{{ url_for('entry.update', id=entry.id) }}" class="list-group-item list-group-item-action list-group-item-info">
                        Started at {{entry.started_at.strftime('%H:%M')}}
                        {% if entry.tag %}<span class="badge badge-info"><i class="fas fa-tag fa-fw"></i> {{entry.tag.name}}</span>{% endif %}
                    </a>
                    {% else %}
                    <a href="{{ url_for('entry.update', id=entry.id) }}" class="list-group-item list-group-item-action">
                        {{entry.started_at.strftime('%H:%M')}} to 
                        {% if entry.started_at.strftime('%Y%m%d') != entry.ended_at.strftime('%Y%m%d') %}{{entry.ended_at.strftime('%d/%m/%y at %H:%M')}}{%else%}{{entry.ended_at.strftime('%H:%M')}}{% endif %} - 
                        {{entry.duration}}
                        ({{entry.duration_decimal|round(2, 'floor')}})
                        {% if entry.tag %}<span class="badge badge-info"><i class="fas fa-tag fa-fw"></i> {{entry.tag.name}}</span>{% endif %}
                    </a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}

        {% if events.items %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if events.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('entry.entries', page=events.prev_num) }}" aria-label="Previous"><i class="fas fa-chevron-left"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a>
                </li>
                {% endif %}
                {% for page in events.iter_pages() %}
                    {% if page %}
                        {% if page != events.page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('entry.entries', page=page) }}">{{ page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="{{ url_for('entry.entries', page=page) }}">{{ page }} <span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if events.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('entry.entries', page=events.next_num) }}" aria-label="Next"><i class="fas fa-chevron-right"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-right"></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}