{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">Email Address</dt>
            <dd class="col-sm-7">{{ user.email_address }}</dd>
            <dd class="col-sm-2 text-md-right">
                <a href="{{ url_for('account.update') }}">Change</a>
            </dd>

            <dt class="col-sm-3">Password</dt>
            <dd class="col-sm-7">••••••••</dd>
            <dd class="col-sm-2 text-md-right">
                <a href="{{ url_for('account.change_password') }}">Change</a>
            </dd>

            <dt class="col-sm-3">Timezone</dt>
            <dd class="col-sm-7">{{ user.timezone.replace("_", " ") }}</dd>
            <dd class="col-sm-2 text-md-right">
                <a href="{{ url_for('account.update') }}">Change</a>
            </dd>

            <dt class="col-sm-3">Schedule</dt>
            <dd class="col-sm-7">
                {% if user.schedule() %}
                    {{ user.schedule_string() }} ({{user.schedule_decimal()}})
                {% else %}
                    No schedule set
                {% endif %}
            </dd>
            <dd class="col-sm-2 text-md-right">
                <a href="{{ url_for('account.schedule') }}">Change</a>
            </dd>

            <dt class="col-sm-3">Member since</dt>
            <dd class="col-sm-9">{{ user.created_at.strftime('%A %d %B %Y %H:%M:%S %Z') }}</dd>
            
            <dt class="col-sm-3">Last log in</dt>
            <dd class="col-sm-9">{{ user.login_at.strftime('%A %d %B %Y %H:%M:%S %Z') }}</dd>
            
            {% if user.updated_at %}
            <dt class="col-sm-3">Last updated</dt>
            <dd class="col-sm-9">{{ user.updated_at.strftime('%A %d %B %Y %H:%M:%S %Z') }}</dd>
            {% endif %}
        </dl>
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-block btn-danger" href="{{ url_for('account.delete') }}"><i class="fas fa-trash fa-lg fa-fw"></i> Delete account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}