{% extends "base.html" %}
{% block header %}
<div class="container">
    {{ super() }}
    <h1 class="mb-0">{{ title }}</h1>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.email_address.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.email_address.errors %}
                        {{ form.email_address(class="form-control is-invalid", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailHelp emailError") }}
                        {% for error in form.email_address.errors %}<div class="invalid-feedback" id="emailError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.email_address(class="form-control is-valid", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailHelp") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.email_address(class="form-control", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailHelp") }}
                {% endif %}
                <div id="emailHelp" class="form-text">{{ form.email_address.description }}</div>
            </div>
            <div class="mb-3">
                {{ form.timezone.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.timezone.errors %}
                        {{ form.timezone(class="form-select is-invalid", aria_describedby="timezoneError") }}
                        {% for error in form.timezone.errors %}<div class="invalid-feedback" id="timezoneError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.timezone(class="form-select is-valid") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.timezone(class="form-select") }}
                {% endif %}
            </div>
            <div class="d-grid gap-3 d-sm-block">
                <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Save</button>
                <a class="btn btn-secondary" href="{{ url_for('account.account') }}"><i class="bi bi-chevron-left"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}