{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.email_address.label }}
                {% if form.email_address.errors %}
                {{ form.email_address(class="form-control is-invalid", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailHelp") }}
                {% else %}
                {{ form.email_address(class="form-control", type="email", spellcheck="false", autocomplete="email", aria_describedby="emailHelp") }}
                {% endif %}
                <small id="emailHelp" class="form-text text-muted">{{ form.email_address.description }}</small>
                {% for error in form.email_address.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.timezone.label }}
                {% if form.timezone.errors %}
                {{ form.timezone(class="custom-select is-invalid") }}
                {% else %}
                {{ form.timezone(class="custom-select") }}
                {% endif %}
            </div>
            <button class="btn btn-block btn-lg btn-primary" type="submit"><i class="fas fa-user-edit fa-lg fa-fw"></i> Update</button>
            <a class="btn btn-block btn-secondary" href="{{ url_for('account.account') }}"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</a>
        </form>
    </div>
</div>
{% endblock %}