{% extends "base.html" %}
{% block header %}
<div class="container">
    {{ super() }}
    <h1>{{ title }}</h1>
    <p class="lead mb-0">Enter the duration in hours and minutes that you are scheduled to work on each day</p>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.monday.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.monday.errors %}
                        {{ form.monday(class="form-control is-invalid", aria_describedby="mondayError", type="time") }}
                        {% for error in form.monday.errors %}<div class="invalid-feedback" id="mondayError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.monday(class="form-control is-valid", type="time") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.monday(class="form-control", type="time") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.tuesday.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.tuesday.errors %}
                        {{ form.tuesday(class="form-control is-invalid", aria_describedby="tuesdayError", type="time") }}
                        {% for error in form.tuesday.errors %}<div class="invalid-feedback" id="tuesdayError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.tuesday(class="form-control is-valid", type="time") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.tuesday(class="form-control", type="time") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.wednesday.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.wednesday.errors %}
                        {{ form.wednesday(class="form-control is-invalid", aria_describedby="wednesdayError", type="time") }}
                        {% for error in form.wednesday.errors %}<div class="invalid-feedback" id="wednesdayError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.wednesday(class="form-control is-valid", type="time") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.wednesday(class="form-control", type="time") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.thursday.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.thursday.errors %}
                        {{ form.thursday(class="form-control is-invalid", aria_describedby="thursdayError", type="time") }}
                        {% for error in form.thursday.errors %}<div class="invalid-feedback" id="thursdayError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.thursday(class="form-control is-valid", type="time") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.thursday(class="form-control", type="time") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.friday.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.friday.errors %}
                        {{ form.friday(class="form-control is-invalid", aria_describedby="fridayError", type="time") }}
                        {% for error in form.friday.errors %}<div class="invalid-feedback" id="fridayError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.friday(class="form-control is-valid", type="time") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.friday(class="form-control", type="time") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.saturday.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.saturday.errors %}
                        {{ form.saturday(class="form-control is-invalid", aria_describedby="saturdayError", type="time") }}
                        {% for error in form.saturday.errors %}<div class="invalid-feedback" id="saturdayError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.saturday(class="form-control is-valid", type="time") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.saturday(class="form-control", type="time") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.sunday.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.sunday.errors %}
                        {{ form.sunday(class="form-control is-invalid", aria_describedby="sundayError", type="time") }}
                        {% for error in form.sunday.errors %}<div class="invalid-feedback" id="sundayError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.sunday(class="form-control is-valid", type="time") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.sunday(class="form-control", type="time") }}
                {% endif %}
            </div>
            <div class="d-grid gap-3 d-sm-block">
                <button class="btn btn-primary" type="submit"><i class="bi bi-save"></i> Save</button>
                <a class="btn btn-secondary" href="{{ url_for('account.account') }}"><i class="bi bi-chevron-left"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}