bcrypt==3.2.0
email_validator==1.1.2
flask-compress==1.9.0
flask-limiter==1.4
flask-login==0.5.0
flask-migrate==2.7.0
flask-sqlalchemy==2.4.4  # Latest 2.5.1
flask-talisman==0.7.0
flask-wtf==0.14.3
flask==1.1.2
gunicorn==20.1.0
psycopg2==2.8.6
pyjwt==2.0.1
python-dotenv==0.16.0
pytz==2021.1
redis==3.5.3
requests==2.25.1
# Generated with piprot 0.9.10
# Your requirements are 247 days out of date