bcrypt==3.1.6
flask-migrate==2.4.0
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
flask==1.0.2
gunicorn==19.9.0
psycopg2==2.8.2
python-dotenv==0.10.1
# Generated with piprot 0.9.10
# Looks like you've been keeping up to date, time for a delicious beverage!