{% extends "base.html" %}
{% block header %}
<div class="container">
    {{ super() }}
    <h1 class="mb-0">{{ error.name | capitalize }}</h1>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <p class="lead"><strong>Error {{ error.code }}:</strong> {{ error.description }}</p>
        {% if request.referrer %}<a class="btn btn-secondary" href="{{ request.referrer }}"><i class="bi bi-chevron-left"></i> Back</a>{% endif %} 
    </div>
</div>
{% endblock %}