{% extends "base.html" %}
{% block content %}
<div class="container px-4 py-5 text-center">
    <img class="d-block mx-auto mb-4 rounded" src="{{ url_for('static', filename='android-chrome-512x512.png') }}" width="72">
    <h1 class="display-5 fw-bold">Mash Time Tracker</h1>
    <p class="lead mb-4">Simple, quick and easy time tracking.</p>
    <div class="d-grid gap-3 d-sm-block">
        <a class="btn btn-primary btn-lg px-4" href="{{ url_for('auth.signup') }}" role="button"><i class="bi bi-person-plus-fill"></i> Sign up</a>
        <a class="btn btn-outline-secondary btn-lg px-4" href="{{ url_for('auth.login') }}" role="button"><i class="bi bi-box-arrow-in-right"></i> Log in</a>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-stopwatch"></i> Simple</h2>
                <p class="card-text lead">Clear, quick and easy to use. Just click to start, click again to finish, done!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-hand-thumbs-up"></i> Flexible</h2>
                <p class="card-text lead">Create your own tags to categorise your time entries. Manually create or adjust time entries if you need to.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-speedometer"></i> Fast</h2>
                <p class="card-text lead">A lightweight and fast user interface, perfect for mobile networks.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-shield-lock"></i> Secure</h2>
                <p class="card-text lead">Uses strict security standards and policies to protect from common attacks.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-incognito"></i> Protected</h2>
                <p class="card-text lead">Stores the least amount of personal data possible, only an email address. You are in full control of your data and can permanently delete everything at any time.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-globe"></i> Web first</h2>
                <p class="card-text lead">We treat the browser as a first-class citizen, not a fallback option. The web is open, democratic and free in a way that app stores tend not to be.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-phone"></i> Responsive</h2>
                <p class="card-text lead">Mobile-first design means it works perfectly and looks great on any size device.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-white h-100">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-unlock"></i> Open</h2>
                <p class="card-text lead">Fully open source code, all hosted and run within the EU.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}