{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        {{ super() }}
        <h1 class="text-truncate">{{ title }}</h1>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid", type="text", spellcheck="true", aria_describedby="nameHelp nameError") }}
                        {% for error in form.name.errors %}<div class="invalid-feedback" id="nameError">{{error}}</div>{% endfor %}
                    {% else %}
                        {{ form.name(class="form-control is-valid", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                        <div class="valid-feedback">Looks good!</div>
                    {% endif %}
                {% else %}
                    {{ form.name(class="form-control", type="text", spellcheck="true", aria_describedby="nameHelp") }}
                {% endif %}
                <div id="nameHelp" class="form-text">{{ form.name.description }}</div>
            </div>
            <div class="d-grid gap-3 d-sm-block">
                <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i> Create</button>
                <a class="btn btn-secondary" href="{{ url_for('tag.tags') }}"><i class="bi bi-chevron-left"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}