{% extends "base.html" %}
{% block header %}
<div class="container">
    {{ super() }}
    <h1>{{ title }}</h1>
    <p class="lead mb-0">Select the tag to be used on all new time entries.</p>
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.tag.label(class="form-label") }}
                {% if form.errors %}
                    {% if form.tag.errors %}
                        {% for subfield in form.tag %}
                        <div class="form-check">
                            {{ subfield(class="form-check-input is-invalid", aria_describedby="tagError", type="radio") }}
                            <span class="badge bg-secondary"><i class="fas fa-tag fa-fw"></i> {{ subfield.label(class="form-check-label") }}</span>
                        </div>
                        {% endfor %}
                        {% for error in form.tag.errors %}<div class="invalid-feedback" id="tagError">{{error}}</div>{% endfor %}
                    {% else %}
                        {% for subfield in form.tag %}
                        <div class="form-check">
                            {{ subfield(class="form-check-input is-valid", type="radio") }}
                            <span class="badge bg-secondary"><i class="fas fa-tag fa-fw"></i> {{ subfield.label(class="form-check-label") }}</span>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for subfield in form.tag %}
                    <div class="form-check">
                        {{ subfield(class="form-check-input", type="radio") }}
                        <span class="badge bg-secondary"><i class="fas fa-tag fa-fw"></i> {{ subfield.label(class="form-check-label") }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit"><i class="fas fa-check fa-lg fa-fw"></i> Save</button>
                <a class="btn btn-secondary" href="{{ url_for('tag.tags') }}"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}