{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        {{ super() }}
        <h1 class="text-truncate">{{ title }}</h1>
        <hr>
        <div class="d-grid gap-3 d-md-block mb-3">
            <a class="btn btn-primary" href="{{ url_for('tag.create') }}" role="button"><i class="bi bi-plus-lg"></i> Create new tag</a>
            <a class="btn btn-secondary" href="{{ url_for('tag.default') }}"><i class="bi bi-gear-fill"></i> Change default tag</a>
        </div>
        {% for tag in current_user.tags %}
            {% include 'tag/_tag_card_actions.html' %}
        {% endfor %}  
    </div>
</div>
{% endblock %}