{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% for tag in current_user.tags %}
        <p class="lead"><a href="{{ url_for('tag.update', id=tag.id)}}"><span class="badge bg-secondary"><i class="fas fa-tag fa-fw"></i> {{ tag.name }}</span></a></p>
        {% endfor %}
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary" href="{{ url_for('tag.create') }}" role="button"><i class="fas fa-plus fa-lg fa-fw"></i> Create new tag</a>
        </div>
    </div>
</div>
{% endblock %}