{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.description.label }}
                {% if form.description.errors %}
                {{ form.description(class="form-control is-invalid", type="text", spellcheck="true") }}
                {% else %}
                {{ form.description(class="form-control", type="text", spellcheck="true") }}
                {% endif %}
                <small id="emailHelp" class="form-text text-muted">{{ form.description.description }}</small>
                {% for error in form.description.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <button class="btn btn-block btn-lg btn-primary" type="submit"><i class="fas fa-check fa-lg fa-fw"></i> Save</button>
            <a class="btn btn-block btn-secondary" href="{{ url_for('tag.tags') }}"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</a>
            <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash fa-lg fa-fw"></i> Delete</button>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This tag will be permanently deleted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</button>
                    <a class="btn btn-danger" href="{{ url_for('tag.delete', id=tag.id) }}" role="button"><i class="fas fa-trash fa-lg fa-fw"></i> Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}