<div class="card shadow-sm">
    <div class="card-body">
        <p class="card-text">
            {% if event.ended_at %}
                {{ moment(event.started_at).format('LTS') }} to {{ moment(event.ended_at).format('LTS') }}
            {% else %}
                {{ moment(event.started_at).format('LTS') }} (Started {{ moment(event.started_at).fromNow(refresh=True) }})
            {% endif %}
        </p>
        <a href="{{ url_for('update_event', id=event.id)}}" class="card-link"><i class="fas fa-edit fa-lg fa-fw"></i> Edit</a>
    </div>
</div>