{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <dl>
            <dt>Email address</dt>
            <dd>{{ user.email_address }}</dd>

            <dt>Timezone</dt>
            <dd>{{ user.timezone.replace("_", " ") }}</dd>

            <dt>Member since</dt>
            <dd>{{ user.created_at.strftime('%A %d %B %Y %H:%M:%S %Z') }}</dd>

            <dt>Last log in</dt>
            <dd>{{ user.login_at.strftime('%A %d %B %Y %H:%M:%S %Z') }}</dd>

            {% if user.updated_at %}
            <dt>Last updated</dt>
            <dd>{{ user.updated_at.strftime('%A %d %B %Y %H:%M:%S %Z') }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-block btn-lg btn-primary" href="{{ url_for('update_account') }}" role="button"><i class="fas fa-user-edit fa-lg fa-fw"></i> Update account</a>
        <a class="btn btn-block btn-lg btn-primary" href="{{ url_for('change_password') }}" role="button"><i class="fas fa-key fa-lg fa-fw"></i> Change password</a>
        <button type="button" class="btn btn-block btn-outline-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash fa-lg fa-fw"></i> Delete account</button>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your account and all personal information will be permanently deleted.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</button>
                <a class="btn btn-danger" href="{{ url_for('delete_account') }}" role="button"><i class="fas fa-trash fa-lg fa-fw"></i> Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}