{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
            <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.started_at.label }}
                {% if form.started_at.errors %}
                {{ form.started_at(class="form-control is-invalid") }}
                {% else %}
                {{ form.started_at(class="form-control") }}
                {% endif %}
                {% if form.started_at.description %}
                <small id="{{ form.started_at.id }}Help" class="form-text text-muted">{{ form.started_at.description }}</small>
                {% endif %}
                {% for error in form.started_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.ended_at.label }} <i>(optional)</i>
                {% if form.ended_at.errors %}
                {{ form.ended_at(class="form-control is-invalid") }}
                {% else %}
                {{ form.ended_at(class="form-control") }}
                {% endif %}
                {% if form.ended_at.description %}
                <small id="{{ form.ended_at.id }}Help" class="form-text text-muted">{{ form.ended_at.description }}</small>
                {% endif %}
                {% for error in form.ended_at.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <p><button class="btn btn-primary" type="submit"><i class="fas fa-edit fa-lg fa-fw"></i> Edit</button></p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash fa-lg fa-fw"></i> Delete</button></p>
            <p><a class="btn btn-secondary" href="{{ url_for('index') }}" role="button"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Go back</a></p>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This time entry will be permanently deleted.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-chevron-left fa-lg fa-fw"></i> Cancel</button>
                <a class="btn btn-danger" href="{{ url_for('delete_event', id=event.id) }}" role="button"><i class="fas fa-trash fa-lg fa-fw"></i> Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}