{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Frequently asked questions</h2>
        <ul>
            <li class="lead">Why limit to 80 entries per account? Why not 50, or 100?</li>
            <p>80 entries will give most people about two months worth of history, based on someone recording two entries per day, five days a week. Less than two months history doesn't feel like enough, and more than this starts to impact on the storage requirements and cost of running the service.</p>
            <li class="lead">What happens if I create a new entry after getting to the 80 limit?</li>
            <p>When you click on "start now" the oldest entry you have made will be automatically deleted and the new entry created.</p>
        </ul>
    </div>
</div>
{% endblock %}