{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Accounts</h2>
        <ul>
            <li class="lead">I haven't received my account activation email.</li>
            <p>Please make sure to check your spam folder. If you still haven't received your activation email you can <a href="{{ url_for('auth.activate_request') }}">request another one</a>.</p>
            <li class="lead">The link in my activation email has expired.</li>
            <p>You can <a href="{{ url_for('auth.activate_request') }}">request another activation email</a> and try again. You will have another hour to activate your account using the new email link.</p>
            <li class="lead">I've forgotten my password.</li>
            <p>You can <a href="{{ url_for('auth.reset_password_request') }}">request a password reset</a> be emailed to you. You will have ten minutes to use the link in the email to change your password.</p>
        </ul>
        <h2>Time entries</h2>
        <ul>
            <li class="lead">Times recorded in my account are off by (x) hours.</li>
            <p>Please <a href="{{ url_for('account.update') }}">update your account</a> and select your required timezone from the drop down list.</p>    
            <li class="lead">How do I manually create a new time entry?</li>
            <p>Click on the down arrow on the right hand side of "Start/Stop now" and select <a href="{{ url_for('entry.manual') }}">Manual entry</a>.</p>    
            <li class="lead">What is the number in brackets next to each individual time entry and day?</li>
            <p>Some corporate time recording systems require time expressed in decimal hours. We've done the conversion to make it easier for you to enter into your corporate system if needed.</p>
            <li class="lead">Why limit to 120 entries per account?</li>
            <p>120 entries will give most people about three months worth of history, based on someone recording two entries per day, five days a week.</p>
            <li class="lead">What happens if I create a new entry after getting to the 120 limit?</li>
            <p>When you click on "start now" the oldest entry you have made will be automatically deleted and the new entry created.</p>
        </ul>
        <h2>Tags</h2>
        <ul>
            <li class="lead">What are tags?</li>
            <p>Tags are a way of categorising your time entries. They can be anything you want to record, measure or track. You could use them for whole projects, or individual tasks.</p>
            <li class="lead">How do I use tags?</li>
            <p>First <a href="{{ url_for('tag.create') }}">create a tag</a> and give it a name. Then update any of your <a href="{{ url_for('entry.weekly') }}">time entries</a>, select the tag from the list and save.</p>
            <li class="lead">Can other people see my tags?</li>
            <p>No, tags are personal to each user account and cannot be shared.</p>
            <li class="lead">What happens when I delete a tag?</li>
            <p>When a tag is deleted then all links between that tag and time entries are also removed. Your time entries will not be removed as well.</p>
        </ul>
    </div>
</div>
{% endblock %}