{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Frequently asked questions</h2>
        <p>Bacon ipsum dolor amet t-bone turkey sirloin, meatloaf ribeye prosciutto andouille hamburger pastrami
            shoulder. Jowl sirloin t-bone rump short ribs shank doner tail pork chop strip steak. Buffalo burgdoggen ham
            hock drumstick bacon. Biltong alcatra picanha ball tip turkey fatback.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h2>Contact</h2>
        <p>Bacon ipsum dolor amet t-bone turkey sirloin, meatloaf ribeye prosciutto andouille hamburger pastrami
            shoulder. Jowl sirloin t-bone rump short ribs shank doner tail pork chop strip steak. Buffalo burgdoggen ham
            hock drumstick bacon. Biltong alcatra picanha ball tip turkey fatback.</p>
        
    </div>
</div>
{% endblock %}