{% extends "base.html" %}
{% block content %}
{% if current_user.is_anonymous %}
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Push the button...</h1>
            <p class="lead">Time tracking made simple.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p><a href="{{ url_for('signup') }}">Sign up</a> or <a href="{{ url_for('login') }}">log in</a>...</p>
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>Push the button...</p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p>See all the times you pushed the button...</p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="/push" role="button">
            <h1>{% if events and events[0].ended_at is none %}Stop{% else %}Start{% endif %}</h1>
        </a>
        <br>
    </div>
    <div class="col-md-8">
        {% for event in events %}
        {% include '_event.html' %}
        <br>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}