{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">Push the button...</h1>
            <p class="lead">Time tracking made simple.</p>
            {% if current_user.is_anonymous %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('auth.signup') }}" role="button"><i class="fas fa-user-plus fa-lg fa-fw"></i> Sign up</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.login') }}" role="button"><i class="fas fa-sign-in-alt fa-lg fa-fw"></i> Log in</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2><i class="fas fa-stopwatch fa-lg fa-fw"></i> Simple</h2>
        <p class="lead">Clear, quick and simple to use. Just click to start, click again to finish, job done! Want to add a time entry manually? You can do that too. <i>COMING SOON: categorise your time with tags!</i></p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h2><i class="fas fa-tachometer-alt fa-lg fa-fw"></i> Fast</h2>
        <p class="lead">A lightweight and fast user interface, perfect for mobile networks. Reasonable rate limits protect the app from abuse and maintain a good service for everyone. Scores a perfect 100% on Google's PageSpeed analysis!</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h2><i class="fas fa-shield-alt fa-lg fa-fw"></i> Secure</h2>
        <p class="lead">Uses security standards and strict policies to protect from cross-site scripting, code injection, cross-site request forgery and session hijacking attacks. Encrypted passwords are resistant to rainbow table, dictionary and brute force attacks.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h2><i class="fas fa-globe-europe fa-lg fa-fw"></i> Web first</h2>
        <p class="lead">We treat the browser as a first-class citizen, not a fallback option. Mobile-first responsive design means The Button looks great and works well on any device. The web is open, democratic and free in a way that app stores tend not to be.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h2><i class="fas fa-database fa-lg fa-fw"></i> Open</h2>
        <p class="lead">Fully open source code, all hosted and run within the EU. Stores the least amount of personal data possible, only an email address. You are in full control of your data and can permanently delete everything at any time with a single click.</p>
    </div>
</div>
{% endblock %}