{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.email_address.label }}
                {% if form.email_address.errors %}
                {{ form.email_address(class="form-control is-invalid", type="email", spellcheck="false", autocomplete="email") }}
                {% else %}
                {{ form.email_address(class="form-control", type="email", spellcheck="false", autocomplete="email") }}
                {% endif %}
                <small id="emailHelp" class="form-text text-muted">{{ form.email_address.description }}</small>
                {% for error in form.email_address.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
                <small id="passwordHelp" class="form-text text-muted">{{ form.password.description }}</small>
                {% for error in form.password.errors %}
                <div class="invalid-feedback">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="form-check">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
            </div>
            <button class="btn btn-block btn-lg btn-primary" type="submit"><i class="fas fa-sign-in-alt fa-lg fa-fw"></i> Log in</button>
        </form>
        <br><p><a href="{{ url_for('reset_password_request') }}">Forgotten your password?</a></p>
        <p><a href="{{ url_for('activate_request') }}">Resend activation email</a></p>
    </div>
</div>
{% endblock %}